## Tugas2 Preprocessing

In [46]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [47]:
data = pd.read_csv('weatherAUS.csv')

In [48]:
data.shape

(142193, 24)

In [49]:
data.head(n=10)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No
5,2008-12-06,Albury,14.6,29.7,0.2,NaN,NaN,WNW,56.0,W,...,23.0,1009.2,1005.4,NaN,NaN,20.6,28.9,No,0.0,No
6,2008-12-07,Albury,14.3,25.0,0.0,NaN,NaN,W,50.0,SW,...,19.0,1009.6,1008.2,1.0,NaN,18.1,24.6,No,0.0,No
7,2008-12-08,Albury,7.7,26.7,0.0,NaN,NaN,W,35.0,SSE,...,19.0,1013.4,1010.1,NaN,NaN,16.3,25.5,No,0.0,No
8,2008-12-09,Albury,9.7,31.9,0.0,NaN,NaN,NNW,80.0,SE,...,9.0,1008.9,1003.6,NaN,NaN,18.3,30.2,No,1.4,Yes
9,2008-12-10,Albury,13.1,30.1,1.4,NaN,NaN,W,28.0,S,...,27.0,1007.0,1005.7,NaN,NaN,20.1,28.2,Yes,0.0,No

In [50]:
data.tail(n=10)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
142183,2017-06-15,Uluru,2.6,22.5,0.0,NaN,NaN,S,19.0,S,...,24.0,1025.0,1021.4,NaN,NaN,8.8,22.1,No,0.0,No
142184,2017-06-16,Uluru,5.2,24.3,0.0,NaN,NaN,E,24.0,SE,...,24.0,1023.8,1020.0,NaN,NaN,12.3,23.3,No,0.0,No
142185,2017-06-17,Uluru,6.4,23.4,0.0,NaN,NaN,ESE,31.0,S,...,25.0,1025.8,1023.0,NaN,NaN,11.2,23.1,No,0.0,No
142186,2017-06-18,Uluru,8.0,20.7,0.0,NaN,NaN,ESE,41.0,SE,...,32.0,1028.1,1024.3,NaN,7.0,11.6,20.0,No,0.0,No
142187,2017-06-19,Uluru,7.4,20.6,0.0,NaN,NaN,E,35.0,ESE,...,33.0,1027.2,1023.3,NaN,NaN,11.0,20.3,No,0.0,No
142188,2017-06-20,Uluru,3.5,21.8,0.0,NaN,NaN,E,31.0,ESE,...,27.0,1024.7,1021.2,NaN,NaN,9.4,20.9,No,0.0,No
142189,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,0.0,No
142190,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,0.0,No
142191,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,0.0,No
142192,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,0.0,No

In [51]:
data.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RISK_MM
count,141556.000000,141871.000000,140787.000000,81350.000000,74377.000000,132923.000000,140845.000000,139563.000000,140419.000000,138583.000000,128179.000000,128212.000000,88536.000000,85099.000000,141289.000000,139467.000000,142193.000000
mean,12.186400,23.226784,2.349974,5.469824,7.624853,39.984292,14.001988,18.637576,68.843810,51.482606,1017.653758,1015.258204,4.437189,4.503167,16.987509,21.687235,2.360682
std,6.403283,7.117618,8.465173,4.188537,3.781525,13.588801,8.893337,8.803345,19.051293,20.797772,7.105476,7.036677,2.887016,2.720633,6.492838,6.937594,8.477969
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.500000,977.100000,0.000000,0.000000,-7.200000,-5.400000,0.000000
25%,7.600000,17.900000,0.000000,2.600000,4.900000,31.000000,7.000000,13.000000,57.000000,37.000000,1012.900000,1010.400000,1.000000,2.000000,12.300000,16.600000,0.000000
50%,12.000000,22.600000,0.000000,4.800000,8.500000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.600000,1015.200000,5.000000,5.000000,16.700000,21.100000,0.000000
75%,16.800000,28.200000,0.800000,7.400000,10.600000,48.000000,19.000000,24.000000,83.000000,66.000000,1022.400000,1020.000000,7.000000,7.000000,21.600000,26.400000,0.800000
max,33.900000,48.100000,371.000000,145.000000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.000000,1039.600000,9.000000,9.000000,40.200000,46.700000,371.000000

In [52]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142193 entries, 0 to 142192
Data columns (total 24 columns):
Date             142193 non-null object
Location         142193 non-null object
MinTemp          141556 non-null float64
MaxTemp          141871 non-null float64
Rainfall         140787 non-null float64
Evaporation      81350 non-null float64
Sunshine         74377 non-null float64
WindGustDir      132863 non-null object
WindGustSpeed    132923 non-null float64
WindDir9am       132180 non-null object
WindDir3pm       138415 non-null object
WindSpeed9am     140845 non-null float64
WindSpeed3pm     139563 non-null float64
Humidity9am      140419 non-null float64
Humidity3pm      138583 non-null float64
Pressure9am      128179 non-null float64
Pressure3pm      128212 non-null float64
Cloud9am         88536 non-null float64
Cloud3pm         85099 non-null float64
Temp9am          141289 non-null float64
Temp3pm          139467 non-null float64
RainToday        140787 non-null object
RISK_MM          142193 non-null float64
RainTomorrow     142193 non-null object
dtypes: float64(17), object(7)
memory usage: 26.0+ MB

In [53]:
np.sum(data.isnull())

Date                 0
Location             0
MinTemp            637
MaxTemp            322
Rainfall          1406
Evaporation      60843
Sunshine         67816
WindGustDir       9330
WindGustSpeed     9270
WindDir9am       10013
WindDir3pm        3778
WindSpeed9am      1348
WindSpeed3pm      2630
Humidity9am       1774
Humidity3pm       3610
Pressure9am      14014
Pressure3pm      13981
Cloud9am         53657
Cloud3pm         57094
Temp9am            904
Temp3pm           2726
RainToday         1406
RISK_MM              0
RainTomorrow         0
dtype: int64

In [54]:
data.isnull().sum().sum()

316559

In [55]:
data['MinTemp'] = data['MinTemp'].fillna((data['MinTemp'].mean())) 
data['MaxTemp'] = data['MaxTemp'].fillna((data['MaxTemp'].median()))
data['Rainfall'] = data['Rainfall'].fillna((data['Rainfall'].mean())) 
data['Evaporation'] = data['Evaporation'].fillna((data['Evaporation'].median()))
data['Sunshine'] = data['Sunshine'].fillna((data['Sunshine'].mean())) 
data['WindGustSpeed'] = data['WindGustSpeed'].fillna((data['WindGustSpeed'].median()))
data['WindSpeed9am'] = data['WindSpeed9am'].fillna((data['WindSpeed9am'].mean())) 
data['WindSpeed3pm'] = data['WindSpeed3pm'].fillna((data['WindSpeed3pm'].median()))
data['Humidity9am'] = data['Humidity9am'].fillna((data['Humidity9am'].mean())) 
data['Humidity3pm'] = data['Humidity3pm'].fillna((data['Humidity3pm'].median()))
data.isnull().any()

Date             False
Location         False
MinTemp          False
MaxTemp          False
Rainfall         False
Evaporation      False
Sunshine         False
WindGustDir       True
WindGustSpeed    False
WindDir9am        True
WindDir3pm        True
WindSpeed9am     False
WindSpeed3pm     False
Humidity9am      False
Humidity3pm      False
Pressure9am       True
Pressure3pm       True
Cloud9am          True
Cloud3pm          True
Temp9am           True
Temp3pm           True
RainToday         True
RISK_MM          False
RainTomorrow     False
dtype: bool

In [56]:
data['Pressure9am'] = data['Pressure9am'].fillna(99) 
data['Pressure3pm'] = data['Pressure3pm'].fillna(111)
data['Cloud9am'] = data['Cloud9am'].fillna(99) 
data['Cloud3pm'] = data['Cloud3pm'].fillna(111)
data['Temp9am'] = data['Temp9am'].fillna(999) 
data['Temp3pm'] = data['Temp3pm'].fillna(1111)
data.isnull().any()

Date             False
Location         False
MinTemp          False
MaxTemp          False
Rainfall         False
Evaporation      False
Sunshine         False
WindGustDir       True
WindGustSpeed    False
WindDir9am        True
WindDir3pm        True
WindSpeed9am     False
WindSpeed3pm     False
Humidity9am      False
Humidity3pm      False
Pressure9am      False
Pressure3pm      False
Cloud9am         False
Cloud3pm         False
Temp9am          False
Temp3pm          False
RainToday         True
RISK_MM          False
RainTomorrow     False
dtype: bool

In [57]:
data['RainTomorrow'] = data.fillna(data['RainTomorrow'].value_counts().index[1])
data.isnull().any()

Date             False
Location         False
MinTemp          False
MaxTemp          False
Rainfall         False
Evaporation      False
Sunshine         False
WindGustDir       True
WindGustSpeed    False
WindDir9am        True
WindDir3pm        True
WindSpeed9am     False
WindSpeed3pm     False
Humidity9am      False
Humidity3pm      False
Pressure9am      False
Pressure3pm      False
Cloud9am         False
Cloud3pm         False
Temp9am          False
Temp3pm          False
RainToday         True
RISK_MM          False
RainTomorrow     False
dtype: bool

In [58]:
data = data.apply(lambda x:x.fillna(x.value_counts().index[0]))
data.isnull().any()

Date             False
Location         False
MinTemp          False
MaxTemp          False
Rainfall         False
Evaporation      False
Sunshine         False
WindGustDir      False
WindGustSpeed    False
WindDir9am       False
WindDir3pm       False
WindSpeed9am     False
WindSpeed3pm     False
Humidity9am      False
Humidity3pm      False
Pressure9am      False
Pressure3pm      False
Cloud9am         False
Cloud3pm         False
Temp9am          False
Temp3pm          False
RainToday        False
RISK_MM          False
RainTomorrow     False
dtype: bool

## Encode Label

In [59]:
from sklearn.preprocessing import LabelEncoder

In [60]:
data['MinTemp'] = LabelEncoder().fit_transform(data['MinTemp'])
data['MaxTemp'] = LabelEncoder().fit_transform(data['MaxTemp'])
data['Rainfall'] = LabelEncoder().fit_transform(data['Rainfall'])
data['Evaporation'] = LabelEncoder().fit_transform(data['Evaporation'])
data['Sunshine'] = LabelEncoder().fit_transform(data['Sunshine'])
data['WindGustDir'] = LabelEncoder().fit_transform(data['WindGustDir'])
data['WindGustSpeed'] = LabelEncoder().fit_transform(data['WindGustSpeed'])
data['WindDir9am'] = LabelEncoder().fit_transform(data['WindDir9am'])
data['WindDir3pm'] = LabelEncoder().fit_transform(data['WindDir3pm'])
data['WindSpeed9am'] = LabelEncoder().fit_transform(data['WindSpeed9am'])
data['WindSpeed3pm'] = LabelEncoder().fit_transform(data['WindSpeed3pm'])
data['Humidity9am'] = LabelEncoder().fit_transform(data['Humidity9am'])
data['Humidity3pm'] = LabelEncoder().fit_transform(data['Humidity3pm'])
data['Pressure9am'] = LabelEncoder().fit_transform(data['Pressure9am'])
data['Pressure3pm'] = LabelEncoder().fit_transform(data['Pressure3pm'])
data['Cloud9am'] = LabelEncoder().fit_transform(data['Cloud9am'])
data['Cloud3pm'] = LabelEncoder().fit_transform(data['Cloud3pm'])
data['Temp9am'] = LabelEncoder().fit_transform(data['Temp9am'])
data['Temp3pm'] = LabelEncoder().fit_transform(data['Temp3pm'])
data['RainToday'] = LabelEncoder().fit_transform(data['RainToday'])
data['RISK_MM'] = LabelEncoder().fit_transform(data['RISK_MM'])
data['RainTomorrow'] = LabelEncoder().fit_transform(data['RainTomorrow'])
data.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,214,262,6,48,77,13,21,13,...,22,216,233,8,10,223,261,0,0,396
1,2008-12-02,Albury,153,284,0,48,77,14,21,6,...,25,245,240,10,10,226,286,0,0,397
2,2008-12-03,Albury,209,290,0,48,77,15,22,13,...,30,215,249,10,2,264,275,0,0,398
3,2008-12-04,Albury,171,313,0,48,77,4,10,9,...,16,315,291,10,10,235,308,0,10,399
4,2008-12-05,Albury,255,356,10,48,77,13,19,1,...,33,247,222,7,8,232,340,0,2,400

## Standardized

In [61]:
from sklearn.preprocessing import StandardScaler

In [63]:
data['MinTemp'] = StandardScaler().fit(data[['MinTemp']]).transform(data[['MinTemp']])
data['MaxTemp'] = StandardScaler().fit(data[['MaxTemp']]).transform(data[['MaxTemp']])
data['Rainfall'] = StandardScaler().fit(data[['Rainfall']]).transform(data[['Rainfall']])
data['Evaporation'] = StandardScaler().fit(data[['Evaporation']]).transform(data[['Evaporation']])
data['Sunshine'] = StandardScaler().fit(data[['Sunshine']]).transform(data[['Sunshine']])
data['WindGustSpeed'] = StandardScaler().fit(data[['WindGustSpeed']]).transform(data[['WindGustSpeed']])
data['WindSpeed9am'] = StandardScaler().fit(data[['WindSpeed9am']]).transform(data[['WindSpeed9am']])
data['WindSpeed3pm'] = StandardScaler().fit(data[['WindSpeed3pm']]).transform(data[['WindSpeed3pm']])
data['Humidity9am'] = StandardScaler().fit(data[['Humidity9am']]).transform(data[['Humidity9am']])
data['Humidity3pm'] = StandardScaler().fit(data[['Humidity3pm']]).transform(data[['Humidity3pm']])
data['Pressure9am'] = StandardScaler().fit(data[['Pressure9am']]).transform(data[['Pressure9am']])
data['Pressure3pm'] = StandardScaler().fit(data[['Pressure3pm']]).transform(data[['Pressure3pm']])
data['Cloud9am'] = StandardScaler().fit(data[['Cloud9am']]).transform(data[['Cloud9am']])
data['Cloud3pm'] = StandardScaler().fit(data[['Cloud3pm']]).transform(data[['Cloud3pm']])
data['Temp9am'] = StandardScaler().fit(data[['Temp9am']]).transform(data[['Temp9am']])
data['Temp3pm'] = StandardScaler().fit(data[['Temp3pm']]).transform(data[['Temp3pm']])
data['RISK_MM'] = StandardScaler().fit(data[['RISK_MM']]).transform(data[['RISK_MM']])

## Normalized

In [64]:
from sklearn.preprocessing import Normalizer

In [65]:
data['MinTemp'] = Normalizer().fit(data[['MinTemp']]).transform(data[['MinTemp']])
data['MaxTemp'] = Normalizer().fit(data[['MaxTemp']]).transform(data[['MaxTemp']])
data['Rainfall'] = Normalizer().fit(data[['Rainfall']]).transform(data[['Rainfall']])
data['Evaporation'] = Normalizer().fit(data[['Evaporation']]).transform(data[['Evaporation']])
data['Sunshine'] = Normalizer().fit(data[['Sunshine']]).transform(data[['Sunshine']])
data['WindGustSpeed'] = Normalizer().fit(data[['WindGustSpeed']]).transform(data[['WindGustSpeed']])
data['WindSpeed9am'] = Normalizer().fit(data[['WindSpeed9am']]).transform(data[['WindSpeed9am']])
data['WindSpeed3pm'] = Normalizer().fit(data[['WindSpeed3pm']]).transform(data[['WindSpeed3pm']])
data['Humidity9am'] = Normalizer().fit(data[['Humidity9am']]).transform(data[['Humidity9am']])
data['Humidity3pm'] = Normalizer().fit(data[['Humidity3pm']]).transform(data[['Humidity3pm']])
data['Pressure9am'] = Normalizer().fit(data[['Pressure9am']]).transform(data[['Pressure9am']])
data['Pressure3pm'] = Normalizer().fit(data[['Pressure3pm']]).transform(data[['Pressure3pm']])
data['Cloud9am'] = Normalizer().fit(data[['Cloud9am']]).transform(data[['Cloud9am']])
data['Cloud3pm'] = Normalizer().fit(data[['Cloud3pm']]).transform(data[['Cloud3pm']])
data['Temp9am'] = Normalizer().fit(data[['Temp9am']]).transform(data[['Temp9am']])
data['Temp3pm'] = Normalizer().fit(data[['Temp3pm']]).transform(data[['Temp3pm']])
data['RISK_MM'] = Normalizer().fit(data[['RISK_MM']]).transform(data[['RISK_MM']])

In [66]:
data.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,1.0,-1.0,-1.0,-1.0,1.0,13,1.0,13,...,-1.0,-1.0,-1.0,1.0,1.0,-1.0,-1.0,0,-1.0,396
1,2008-12-02,Albury,-1.0,1.0,-1.0,-1.0,1.0,14,1.0,6,...,-1.0,-1.0,-1.0,1.0,1.0,1.0,1.0,0,-1.0,397
2,2008-12-03,Albury,1.0,1.0,-1.0,-1.0,1.0,15,1.0,13,...,-1.0,-1.0,-1.0,1.0,-1.0,1.0,1.0,0,-1.0,398
3,2008-12-04,Albury,-1.0,1.0,-1.0,-1.0,1.0,4,-1.0,9,...,-1.0,1.0,1.0,1.0,1.0,1.0,1.0,0,-1.0,399
4,2008-12-05,Albury,1.0,1.0,-1.0,-1.0,1.0,13,1.0,1,...,-1.0,-1.0,-1.0,1.0,1.0,1.0,1.0,0,-1.0,400